/* 
  label: Retro
  value: retro
*/

:root[data-theme-preset="retro"] {
  --background: #fdf6e3;
  --foreground: #073642;
  --card: #eee8d5;
  --card-foreground: #073642;
  --popover: #eee8d5;
  --popover-foreground: #073642;
  --primary: #d33682;
  --primary-foreground: #ffffff;
  --secondary: #2aa198;
  --secondary-foreground: #ffffff;
  --muted: #93a1a1;
  --muted-foreground: #073642;
  --accent: #cb4b16;
  --accent-foreground: #ffffff;
  --destructive: #dc322f;
  --destructive-foreground: #ffffff;
  --border: #839496;
  --input: #839496;
  --ring: #d33682;
  --chart-1: #268bd2;
  --chart-2: #2aa198;
  --chart-3: #d33682;
  --chart-4: #cb4b16;
  --chart-5: #dc322f;
  --sidebar: #fdf6e3;
  --sidebar-foreground: #073642;
  --sidebar-primary: #d33682;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #2aa198;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #839496;
  --sidebar-ring: #d33682;
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --radius: 0.25rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(196 83% 10%);
  --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-sm:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow-md:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 2px 4px -1px hsl(196 83% 10% / 0.15);
  --shadow-lg:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 4px 6px -1px hsl(196 83% 10% / 0.15);
  --shadow-xl:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 8px 10px -1px hsl(196 83% 10% / 0.15);
  --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark:root[data-theme-preset="retro"] {
  --background: #002b36;
  --foreground: #93a1a1;
  --card: #073642;
  --card-foreground: #93a1a1;
  --popover: #073642;
  --popover-foreground: #93a1a1;
  --primary: #d33682;
  --primary-foreground: #ffffff;
  --secondary: #2aa198;
  --secondary-foreground: #ffffff;
  --muted: #586e75;
  --muted-foreground: #93a1a1;
  --accent: #cb4b16;
  --accent-foreground: #ffffff;
  --destructive: #dc322f;
  --destructive-foreground: #ffffff;
  --border: #586e75;
  --input: #586e75;
  --ring: #d33682;
  --chart-1: #268bd2;
  --chart-2: #2aa198;
  --chart-3: #d33682;
  --chart-4: #cb4b16;
  --chart-5: #dc322f;
  --sidebar: #002b36;
  --sidebar-foreground: #93a1a1;
  --sidebar-primary: #d33682;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #2aa198;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #586e75;
  --sidebar-ring: #d33682;
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Space Mono, monospace;
  --radius: 0.25rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(196 83% 10%);
  --shadow-2xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-xs: 2px 2px 4px 0px hsl(196 83% 10% / 0.07);
  --shadow-sm:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 1px 2px -1px hsl(196 83% 10% / 0.15);
  --shadow-md:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 2px 4px -1px hsl(196 83% 10% / 0.15);
  --shadow-lg:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 4px 6px -1px hsl(196 83% 10% / 0.15);
  --shadow-xl:
    2px 2px 4px 0px hsl(196 83% 10% / 0.15),
    2px 8px 10px -1px hsl(196 83% 10% / 0.15);
  --shadow-2xl: 2px 2px 4px 0px hsl(196 83% 10% / 0.38);
}
